page-login {
    .scroll-content{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: #007b6d;
    }
    img {
        padding-top: 2%;
        width: 97%;
        display: block;
        margin: auto;
    }
    .carta{
        margin: 0px;
        padding: 0px;
        position:relative;
        padding-top:30%;
        vertical-align:middle;
        text-align:center;
    }   
    .der{
        padding:10px; 
    }
    .item-md {
        padding-left: 0;
    }
    .card-content-ios {
        padding:0;
        font-size: 1.4rem;
        line-height: 1.4;
    }
    .text-input {
        text-align: right;
        color:#fff;
    }
    .item-md{
        border-bottom-color: #fff;
        box-shadow: inset 0 0px 0 0 #fff;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: #fff;
        box-shadow: inset 0 0px 0 0 #fff;
    }
    .input-has-focus.item-input-has-focus{
        border-bottom-color: #fff;
        box-shadow: inset 0 0px 0 0 #fff;
        border-bottom:1px solid #fff !important;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #fff;
        box-shadow: inset 0 0px 0 0 #fff;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #fff;
        box-shadow: inset 0 0px 0 0 #fff;
    }

    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #fff;
        box-shadow: inset 0 0px 0 0 #fff;
    }
    .campo{
        background: #007b6d;
    }
    .select-md .select-icon .select-icon-inner {
        color: #fff;
    }
    input-cover activated{
        color:#fff !important;
    }
    ion-select{
        color:#fff
    }
    item-inner{
        border-bottom-color: #fff;
        box-shadow: inset 0 0px 0 0 #fff;
    }
    .cont > i{
        color: #fff
    }
    ion-label{
        color:#fff !important;
    }
    ion-footer {
        background: #007b6d
    }
    .btn-ayuda{
        color:#fff;
    }
}
