page-login {
    .contenedor{
        background-color:#007b6d;
    }
    .der{
        padding:10px; 
    }
    .carta{
        position: relative;
        top: 17%;
        bottom:30%;
        margin: 0px;
        padding: 0px;
    }
    .item-md {
        padding-left: 0;
    }
    .card-content-ios {
        padding:0;
        font-size: 1.4rem;
        line-height: 1.4;
    }
    .text-input {
        text-align: right;
  }
}
