page-login {
    .contenedor{
        background-color:#007b6d;
    }
    .der{
        padding-left:10px; 
        padding-right:10px;
        padding-bottom: 6px;
    }
    .carta{
        position: relative;
        top: 17%;
        bottom:30%;
        margin: 0px;
        padding: 16px;
    }
    .item-md {
    padding-left: 0;
    }
    .text-input {
        text-align: right;
    }
    ion-app.md{
    padding: 16px;
}
}
