<ion-header>
  <ion-navbar>
    <ion-title>Especialidad</ion-title>
    <ion-buttons left>
      <button ion-button>
        <img width="35" height="35" src="assets/images/logo.png" />
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-card>
    <div class="myFicha">
      <p>Paciente : {{ Ficha.PacienteNombre}} </p>
      <p>Matrícula : {{ Ficha.PacienteMatricula }} </p>
      <p>Hospital : {{ Ficha.FilialDescripcion }} </p>
    </div>
  </ion-card>
</ion-header>
<ion-content>
  <ion-list *ngIf="rlength > 0">
    <button ion-item *ngFor="let Especialidad of Especialidades" (click)="iraMedicos(Especialidad)">
      <ion-avatar item-left>
      <img src="assets/images/especialidad.png"/>
     </ion-avatar>
      <h3> {{ Especialidad.Descripcion }} </h3> 
      <!--<p> <span class=".textoHosp">{{ Ficha.FilialDescripcion }}</span>  </p>-->
      <ion-badge item-end>{{ Especialidad.cupos }}</ion-badge>
    </button>
  </ion-list>
  <div *ngIf="rlength == 0" class="contenedor" (click)="volver()">
    <img class="img" width="70" height="70" src="assets/images/especialidad.png" />
    <p>No hay especialidades disponibles.</p>
  </div>
</ion-content>