page-especialidades {
    .item-ios p {
    font-size: 1.1rem;
    }
    .item-md p {
        font-size: 1.1rem;
    }
    .contenedor{
        text-align:center;
        height: 100%;
    }
    .img{
        border-radius: 50%;
    }
    .medio{
        position: relative;
        top: 35%;
    }
    .medio > p{
        color:#43443e;
        font-size: 11px;
        margin:0;
        padding-left: 20%;
        padding-right: 20%;
    }
    .medio > h5{
        color:#43443e;
        font-size: 12px;
        margin:0;
        padding-left: 5%;
        padding-right: 5%;
    }
    .list-ios {
        margin: -1px 0 0px;
    }
    .list-md {
        margin: 0px;
    }
}
