page-permiso {
    .nota{
        font-size: 12px !important;
        color: #757575 !important;
    }
    .gris{
        color:#757575 !important;
    }
    .list-ios, .list-md, .list-wp {
        margin: 0px;
    }
    .contenedor{
        text-align:center;
        height: 100%;
    }
    .contenedorn{
        text-align:center;
    }
    .medio{
        position: relative;
        top: 35%;
    }
    .medio > p{
        color:#43443e;
        font-size: 11px;
        margin:0;
        padding-left: 10%;
        padding-right: 10%;
    }
    .medio > h5{
        color:#43443e;
        font-size: 12px;
        margin:0;
        padding-top: 8px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .medio > i {
        color:#b7b7b7;
    }
    ion-spinner {
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .noresult{
        padding-top:20px;
    }
}
