<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button showWhen="android,windows">
        <img width="35" height="35" src="assets/images/logo.png" />
      </button>
    </ion-buttons>
    <ion-title>Permisos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-spinner *ngIf="length == 0"></ion-spinner>
  <ion-searchbar *ngIf="length > 10 && length != infinite" placeholder="Buscar médico" (ionInput)="getItems($event)" (ionClear)="onClear($event)"> <!--Android-->
    <!--[showCancelButton]="true" (ionCancel)="onCancel($event)" (ionClear)="onClear($event)"> IOS-->
  </ion-searchbar>
  <ion-list *ngIf="length != 0">
    <ion-item *ngFor="let item of listpermiso; let i = index">
      <ion-avatar item-left>
        <img src="assets/images/medGris.png">
      </ion-avatar>
      <h3>{{ item.nombrec }} </h3>
      <p class="nota"> Motivo : {{ item.motivo }}</p>
      <p class="nota"> Desde el {{ item.fch_ini }} hasta el {{ item.fch_fin }} </p>
    </ion-item>
  </ion-list>

  <div class="contenedorn" *ngIf="rescount == 0 ">
    <div class="medio">
      <p class="noresult">No se ha encontrado resultado con el nombre de "{{ nombrebus }}"</p>
    </div>
  </div>
  <div class="contenedor" *ngIf="length == infinite" (click)="volver()">
    <div class="medio">
      <img class="img" width="60" height="60" src="assets/images/mednresult.png" />
      <h5>No se ha encontrado médicos con permisos.</h5>
    </div>
  </div>
  <div class="contenedor" *ngIf="errorApi == true && length != 0" (click)="ionViewWillEnter()">
    <div class="medio">
      <i class="fa fa-calendar-times-o fa-3x" aria-hidden="true"></i>
      <h5>No se han podido cargar los resultados.</h5>
      <p>Toca la pantalla para volver a intentarlo</p>
    </div>
  </div>
</ion-content>