page-modal {
    .contenedor{
        position:absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .contenedor > p{
        color:#43443e;
        padding-left: 20%;
        padding-right: 20%;
    }
    ion-item > p{
        color: #000;
    }
    .item-ios p {
        color: #000;
    }
    .item-md p {
        color: #000;
    }
    .contenedor{
        height: 100%;
        text-align:center;
        img{
            border-radius: 50%;
        }
    }
    .medio{
        position: relative;
        top: 35%;
    }
    .medio > p{
        color:#43443e;
        font-size: 11px;
        margin:0;
        padding-left: 20%;
        padding-right: 20%;
    }
    .cancelar{
        margin-top: 25px;
    }
    ion-spinner {
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
