page-modal {
    .contenedor{
        position:absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .contenedor > p{
        color:#43443e;
        padding-left: 20%;
        padding-right: 20%;
    }
    ion-item > p{
        color: #000;
    }
    .item-ios p {
        color: #000;
    }
    .item-md p {
        color: #000;
    }
    .img{
        position:relative;
        margin-top:40%;
        vertical-align:middle;
        text-align:center;
        border-radius: 50%;
    }
    .cancelar{
        margin-top: 25px;
    }
}
