page-modal {
    .bar-button-ios {
        padding: 0 4px;
        height: 32px;
        border: 0;
        border-radius: 4px;
        font-size: 1.2em;
    }
    p.titulo{
        font-size: 16px;
        padding:0;
        margin:0;
        font-weight: bold;
    }
    p{
        margin:0px;
    }
}
