page-perfil {
    .contenedor{
        width: 100%;
        text-align: center;
    }
    .contenedor > h6 {
        margin-bottom: 5px;
    }
    .contenedor > p{
        margin-top:0;
        color: #3e3e3e;
        margin-bottom: 10%;
    }
    .img{
        width: 40%;
        margin-top:10%;
        vertical-align:middle;
        text-align:center;
        border-radius: 50%; 
    }
    scroll-content {
        overflow-y: hidden;
    }
}
