<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button>
        <img width="35" height="35" src="assets/images/logo.png" />
      </button>
    </ion-buttons>
    <ion-title>Medicamentos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="dateForm" (ngSubmit)="Buscar()" novalidate>
    <ion-item-group>
      <ion-item-divider color="light">BUSCAR POR FECHA:</ion-item-divider>
    </ion-item-group>
    <ion-list>
      <ion-item>
        <ion-label>Del</ion-label>
        <ion-datetime doneText="Hecho" placeholder="Seleccionar" cancelText="Cancelar" formControlName="ini" displayFormat="D MMMM YYYY" [(ngModel)]="myDate" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre ">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hasta el</ion-label>
        <ion-datetime doneText="Hecho" placeholder="Seleccionar" cancelText="Cancelar" formControlName="fin" displayFormat="D MMMM YYYY" [(ngModel)]="myDate1" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre ">
        </ion-datetime>
      </ion-item>
    </ion-list>
    <button ion-button icon-left class="buscar" ion-button type="submit" block [disabled]="!dateForm.valid" clear>
       <ion-icon name="search"></ion-icon>
       BUSCAR
     </button>
  </form>
  <!--/FORMULARIO -->
  <ion-item-group>
    <ion-item-divider color="light">RESULTADO : {{ length }}</ion-item-divider>
  </ion-item-group>
  <ion-list *ngFor="let item of Recetaslist; let i = index" no-lines>
    <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon color="accentColor" item-right name="ios-add-circle" *ngIf="!item.open"></ion-icon>
        <ion-icon item-right name="ios-remove-circle" *ngIf="item.open"></ion-icon>
        <h3 class="texto">{{ item.Medicameto }} </h3>
      </button>

    <ion-list *ngIf="item.open && Recetaslist != 0" no-lines class="subcontenido">
      <div class="detail"  text-capitalize>
        <p> <b> Indicaciones :</b> {{ item.Indicaciones }} </p>
        <p> <b> Tratamiento :  </b> {{ item.DiasTratamiento }} Dias</p>
        <p> <b> Cantidad :    </b> {{ item.Cantidad}} </p>
        <p> <b> Recetado el : </b> {{ item.Fecha}} </p>
      </div>
    </ion-list>
  </ion-list>
  <div *ngIf="Recetaslist == 0" class="contenedor">
    <img class="img" width="65" height="65" src="assets/images/medkitgris.png" />
    <p>{{ fechaResult }}</p>
  </div>
</ion-content>