page-resumen {
    ion-item{
        height: 40px;
    }
    .ion-item > p{
        color: #212121;
    }
    .item-ios p {
        color: #212121;
    }
    .item-md p {
        color: #212121;
    }
}
