page-modal-historial {
    ion-item > p{
        color: #000;
    }
    .item-ios p {
        color: #000;
    }
    .item-md p {
        color: #000;
    }
    //cambiar el color del icono
    /*ion-item > i {
        color:blue
    }*/
}
