page-home {
    ion-content{
      overflow-x:hidden !important; 
      overflow-y:hidden !important;   
    }
    .portada{
        position: absolute;
        bottom: 0;
        margin:0;
        padding: 0;
    }
}
