page-filiales {
.subitem {
        font-size: 0.7em;
    
}
.subitem1 {
        font-size: 1.3em;
    
}
.ion-md-hospital:before {
content: url("../assets/images/hospital.svg");

//  padding: 6px 4px 2px;
 // opacity: 0.9;
//background-image: url('asset/images/ficha1.png');
}

}
