page-filiales {
    .contenedor{
        text-align:center;
        height: 100%;
    }
    .medio{
        position: relative;
        top: 35%;
    }
    .medio > p{
        color:#43443e;
        font-weight: bold;
        font-size: 12px;
        padding: 0;
        margin : 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    .medio > i {
        color:#43443e;
    }
    .item-ios p {
    font-size: 1.1rem;
    }
    .item-md p {
        font-size: 1.1rem;
    }
    .list-ios {
        margin: -1px 0 0px;
    }
    .list-md {
        margin: 0px;
    }
}
