page-filiales {
    .contenedor{
        position:absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .contenedor > p{
        color:#43443e;
        margin: 0;
        font-size: 12px;
        padding-left: 20%;
        padding-right: 20%;
    }
    .img{
        position:relative;
        margin-top:45%;
        vertical-align:middle;
        text-align:center;
    }
    .item-ios p {
    font-size: 1.1rem;
    }
    .item-md p {
        font-size: 1.1rem;
    }
}
