.logo{
        position: relative;
        padding: 0;
        margin: auto;
        height: 40px;
        top:0;
        left: 0%;
        right: 0%;
    }

.toolbar-background {
  background-color: rgba(0, 123, 109, 1);
}
.toolbar-title {
  color: white;
}
.back-button {
  color: white;
}
.bar-buttons-ios[left] {
    display: none;
}
.card-ios {
    margin: 0px;
    padding: 5px 5px 5px 16px;
    width: 100%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.card-ios p {
    margin: 2px;
    font-size: 0.9em;
    color: #000;
}
.card-md {
    margin: 0px;
    padding: 5px 5px 5px 16px;
    width: 100%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.card-md p {
    margin: 0px;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
}
.list-ios {
    margin: 0 0 32px 0;
}
.list-md {
    margin: 0 0 16px 0;
}
