ion-content{
    overflow:hidden !important;
}
.logo{
    position: relative;
    height: 32px;
    }
.item-ios,.item-md p{
     width: 100%;
}
.myFicha{
    padding-left: 16px;
}
ion-label{
    white-space: normal ;
}
.toolbar-background {
  background-color: rgba(0, 123, 109, 1);
}
.toolbar-title {
  color: white;
}
.back-button {
  color: white;
}
.bar-buttons-ios[left] {
    display: none;
}
.card-ios {
    margin: 0px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.card-ios p {
    margin: 2px;
    font-size: 0.9em;
    color: #000;
}
.card-md {
    margin: 0px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.card-md p {
    margin: 0px;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
}
.card-wp {
    margin: 0px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.card-wp p {
    margin: 0px;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
}
.card-content-ios {
    padding: 5px 5px 5px 5px;
}
.card-content-md {
    padding: 5px 5px 5px 5px;
}
.card-title-md {
    padding: 0px 0 8px 0;
    font-size: 1.8rem;
}
.card-title-ios {
    padding: 0px 0 8px 0;
}
.toolbar-title-md {
    padding: 0px;
}
ion-toast.success .toast-wrapper {
	background: #57b447;
}

ion-toast.error .toast-wrapper {
	background: rgb(209, 71, 71);
}
.toast-button {  
    color: #009688 !important;
}
.item-ios ion-thumbnail {
    min-width: 80px;
    min-height: 80px;
}
.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
    width: 80px;
    height: 80px;
}
.item-ios h3, .item-ios h4, .item-ios h5, .item-ios h6 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: normal;
}
/* controlando los colores del alert
ion-alert >.alert-wrapper{
    background: #0d2231 !important;
    color: #e3e5e7;
}
ion-alert >.alert-wrapper .alert-message{
    color: #969696;
    overflow-x:hidden; 
    overflow-y:hidden; 
}
*/
ion-alert >.alert-wrapper .alert-message{
    overflow-x:hidden; 
    overflow-y:hidden; 
}

@import "styles/font-awesome";