page-mitab {

.ion-md-ficha:before {
height: 100%;
width: 100%;
content: url("../assets/images/ficha11.png");

//  padding: 6px 4px 2px;
 // opacity: 0.9;
//background-image: url('asset/images/ficha1.png');
}
.ion-md-inicio:before {
height: 100%;
width: 100%;
content: url("../assets/images/ficha11.png");

//  padding: 6px 4px 2px;
 // opacity: 0.9;
//background-image: url('asset/images/ficha1.png');
}

}
