<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button>
        <img width="35" height="35" src="assets/images/logo.png" />
      </button>
    </ion-buttons>
    <ion-title>CPS Móvil</ion-title>
    <ion-buttons end>
      <button ion-button color="light" icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="contenedor" *ngIf="mostrar == false" (click)="ionViewDidLoad()">
    <i id="logo" class="fa fa-users fa-3x" aria-hidden="true"></i>
    <p> No se ha podido cargar el grupo familiar.</p>
    <h5> Se ha producido un error, Toca la pantalla para volver a intentarlo</h5>
  </div>
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>-->
  <ion-item-group *ngIf="mostrar == true">
    <ion-item-divider color="light">GRUPO FAMILIAR </ion-item-divider>
  </ion-item-group>
  <ion-list *ngIf="mostrar == true">
    <ion-item-sliding #item *ngFor="let Paciente of GrupoFamiliar">
      <ion-item (click)="iraFiliales(Paciente)">
        <ion-avatar item-left>
          <img src="assets/images/people.png">
        </ion-avatar>
        <div class="contenido">
          <h3> {{ Paciente.Nombre }} </h3>
          <p> {{ Paciente.Matricula }} {{ Paciente.TAsegurado }}</p>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button class="more" ion-button (click)="irHistorial(Paciente)">
            <ion-avatar item-start>
            <img width="40" height="40" src="assets/images/historial.png">
          </ion-avatar>
        </button>
        <button class="medkit" ion-button (click)="IrVademecun(Paciente)">
          <ion-avatar item-start>
            <img width="40" height="40" src="assets/images/medkit.png">
          </ion-avatar>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>