page-grupofamiliar {
    .container{
         overflow: hidden;
    }
    .item{
        position: relative;
        float: right;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #007b6d;
        opacity: 1;
    }
    .segment-md .segment-button {
        color: #007b6d;
    }
    .segment-ios .segment-button.segment-activated {
        background-color: #007b6d;
    }
    .segment-ios .segment-button {
        color: #007b6d;
        border-color: #007b6d;
    }
    .tabs.md{
        padding: 0px 16px 0px 16px; 
    }
    .tabs.ios{
        padding: 16px 16px 0px 16px; 
    }
    .item-md p{
        font-size: 12px;
    }
    .item-ios p{
        font-size: 12px;
    }
    .item-wp p{
        font-size: 12px;
    }
    .item-divider{
        padding-left: 16px;
        color: #000;
        margin:0 !important;
        background-color: #f4f4f4;
        border-bottom: 0px solid #dedede !important;
        box-shadow: 0 0 rgba(0, 0, 0, 0.2);
        font-size: 1.4rem;
    }
    .contenedor{
        position:relative;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .contenedor > p{
        color:#43443e;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 2px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .contenedor > h5{
        font-size: 10px;
        margin:0;
        padding-left: 20%;
        padding-right: 20%;
    }
    .contenedor > h5{
        color:#43443e;
        font-size: 10px;
        margin:0;
        padding-left: 20%;
        padding-right: 20%;
    }
    #logo{
        position:relative;
        padding-top:50%;
        vertical-align:middle;
        text-align:center;
        color: #757575
    }
    .more{
        background-color: #009688;
        color:#fff;
        padding-left:15px;
        padding-right: 15px;
    }
    .medkit{
        background-color: #5ab2a8;
        color:#fff;
        padding-left:15px;
        padding-right: 15px;
    }
    .fa{
        margin-bottom: 5px;
    }
    .list-md {
        margin: -1px 0 0px !important;
    }
    .list-ios {
        margin: -1px 0 0px !important;
    }
    .btn-update{
        margin: 0;
        padding: 0;
    }
    .text-update{
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color :#43443e;
    }

    .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
        background-image: none;
    }
    .item-md.item-block .item-inner {
        padding-right: 0;
        border-bottom: 1px solid #dedede;
    }
}
