page-grupofamiliar {
    .item{
        position: relative;
        float: right;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #007b6d;
        opacity: 1;
    }
    .segment-md .segment-button {
        color: #007b6d;
    }
    .segment-ios .segment-button.segment-activated {
    background-color: #007b6d;
    }
    .segment-ios .segment-button {
        color: #007b6d;
        border-color: #007b6d;
    }
    .tabs.md{
        padding: px 16px 0px 16px; 
    }
    .tabs.ios{
        padding: 16px 16px 0px 16px; 
    }
}
