<ion-content text-center>
	<ion-spinner name="dots" *ngIf="act == 2 "></ion-spinner>
	<div class="contenedor" *ngIf="act == 1">
		<div class="medio">
			<img width="47" height="45" src="assets/images/logoup.png" />
			<h5> {{ titulo }} </h5>
			<p> {{ mensaje }} </p>
		</div>
	</div>
</ion-content>
<ion-footer *ngIf="act == 1">
	<ion-grid>
		<ion-row>
			<ion-col>
				<button block ion-button color="primary" (click)="salirApp()" outline>Salir</button>
			</ion-col>
			<ion-col>
				<a ion-button block text-center class="a" item-left [href]="sanitize('http://192.168.9.18/scz/movil/cpsmovil5.apk')" target="_system">
					Descargar
				</a>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>