<ion-header>
  <ion-navbar>
    <ion-title>Médico</ion-title>
      <ion-buttons left>
        <button ion-button >
          <img width="35" height="35" src="assets/images/logo.png" />
        </button>
      </ion-buttons>
   </ion-navbar>
   <ion-card>
    <div class="myFicha">
      <p>Paciente : {{ Ficha.PacienteNombre}} </p>
      <p>Matrícula : {{ Ficha.PacienteMatricula }} </p>
      <p>Hospital : {{ Ficha.FilialDescripcion }} </p>
      <p>Especialidad : {{ Ficha.EspecialidadDescripcion }} </p>
    </div>
  </ion-card>
</ion-header>
<ion-content>
  <ion-list  *ngIf="length > 0">
    <ion-item *ngFor="let Medico of Medicos">
        <ion-avatar item-left (click)="irDetalleMed(Medico)" >
            <img src="assets/images/med.png" >
        </ion-avatar>
        <div (click)="iraHorarios(Medico)" >
          <h3>{{ Medico.Descripcion }}</h3>
        </div>
    </ion-item>
  </ion-list>
  <div *ngIf="length == 0" class="contenedor" (click)="volver()">
      <img class="img" width="100" height="100" src="assets/images/med.png"/>
      <p>No hay Médicos disponibles.</p>
  </div>
</ion-content>