page-modal-wifi {
    .container{
        position: relative;
        background: #000;
    }
    .img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 40%;
        margin: auto;
    }
    .button-ios {
        height: 2.8em;
        font-size: 1.6rem;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0) !important;
        border-radius: 4px;
        margin: 0.4rem 0.2rem;
        padding: 0px 1em;
    }
    .scroll-content {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}
