page-modal-wifi {
    .container{
        background: rgba(41, 39, 39, 0.56)
    }
    .card-ios p, .card-md p, .card-wp p {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        color: #212121;
    }
    .grid{
        padding-top: 10px;
        padding-left: 0 !important; 
        padding-right: 0 !important;
        padding-bottom: 0 !important; 
    }
    #filial{
        color:#007b6d;
    }
    .img{
        width: 100%;
    }
    .item-ios, .item-wp, .item-md {
        padding-left: 0 !important;
    }
    .label-md, .label-ios, .label-wp {
        margin: 13px 8px 0 0;
    }
    ion-col{
        i{
            padding-top: 1px;
        }
    }
    /*.scroll-content {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }*/
}
