<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button>
        <img width="35" height="35" src="assets/images/logo.png" />
      </button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="length != 0">
    <ion-item *ngFor="let item of historial" (click)="historialFicha(item)">
      <span item-right *ngIf="item.atendido == 0"  class="noAtendido"><ion-icon name="close-circle"></ion-icon></span>
      <span item-right *ngIf="item.atendido == 1"  class="atendido"><ion-icon name="checkmark-circle"></ion-icon></span>
      <ion-avatar item-left (click)="irDetalleMed(Medico)" >
            <img src="assets/images/fich.png" >
        </ion-avatar>
      <h3 color="primaryText"> {{ item.especialidad }} </h3>
      <h3 class="nota"> {{ item.creadoEl }} </h3>
    </ion-item>
  </ion-list>
  <div class="contenedor" *ngIf="length == infinite" (click)="volver()">
    <img class="img" width="75" height="80" src="assets/images/fichaGris.png" >
    <h5>Sin historial de ficha.</h5>
    <p>Toca la pantalla para volver atrás</p>
  </div>
  <div  class="contenedor" *ngIf="errorApi == true && length != 0" (click)="volver()">
      <div class="medio">
        <img class="img" width="60" height="60" src="assets/images/fichaGris.png" />
        <h5>No se ha podido cargar los datos.</h5>
        <p>Toca la pantalla para volver atrás</p>
      </div>
  </div>
</ion-content>