page-historial {
    .nota{
        font-size: 12px !important;
        color: rgb(142, 144, 147) !important;
    }
    .list-ios, .list-md, .list-wp {
        margin: 0px;
    }
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
    .noAtendido{
        color:red;
    }
    .atendido{
        color:#57b447;
    }
    .gris{
        color:#757575 !important;
    }
    .contenedor{
        position:absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .contenedor > p{
        color:#43443e;
        font-size: 11px;
        margin:0;
        padding-left: 20%;
        padding-right: 20%;
    }
    .contenedor > h5{
        color:#43443e;
        font-size: 12px;
        margin:0;
        padding-left: 20%;
        padding-right: 20%;
    }
    .img{
        position:relative;
        margin-top:50%;
        vertical-align:middle;
        text-align:center;
    }
    ion-spinner {
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60px;
    }
    .spinner-md-crescent circle {
        stroke: #007b6d !important;
    }
}
