page-historial {
    .nota{
        font-size: 12px !important;
        color: rgb(142, 144, 147) !important;
    }
    .list-ios, .list-md, .list-wp {
        margin: 0px;
    }
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
    .noAtendido{
        color:red;
    }
    .atendido{
        color:#57b447;
    }
    .gris{
        color:#757575 !important;
    }
    .contenedor{
        position:absolute;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .contenedor{
        height: 100%;
        text-align:center;
    }
    .medio{
        position: relative;
        top: 40%;
    }
    .medio > p{
        color:#43443e;
        font-size: 11px;
        margin:0;
        padding-left: 20%;
        padding-right: 20%;
    }
    .medio > h5{
        color:#43443e;
        font-size: 12px;
        margin:0;
        padding:0;
        padding-left: 20%;
        padding-right: 20%;
    }
    .medio > i {
        color:#43443e;
    }
    .img {
        border-radius: 50%;
        margin:0;
        padding:0;
    }
    ion-spinner {
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
