page-historial {
    .nota{
        font-size: 12px !important;
        color: rgb(142, 144, 147) !important;
    }
    .list-ios, .list-md, .list-wp {
        margin: 0px;
    }
    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }
    .check{
        color:red;
        font-size: 13px;
    }
    .verde{
        color:#757575 !important;
    }
}
