<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button>
        <img width="35" height="35" src="assets/images/logo.png" />
      </button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="length > 0">
    <ion-item *ngFor="let item of historial" (click)="historialFicha(item)">
      <span item-right *ngIf="item.atendido == 0" color="danger" class="check"><ion-icon name="close-circle"></ion-icon></span>
      <ion-avatar item-left (click)="irDetalleMed(Medico)" >
            <img src="assets/images/fich.png" >
        </ion-avatar>
      <h3 color="primaryText"> {{ item.especialidad }} </h3>
      <h3 class="nota"> {{ item.creadoEl }} </h3>
    </ion-item>
  </ion-list>
  <div  class="contenedor" *ngIf="length == 0" (click)="volver()">
    <img class="img" width="70" height="70" src="assets/images/fich.png" >
    <p>Sin historial de ficha.</p>
  </div>
</ion-content>