<ion-header>
  <ion-navbar>
    <ion-title>Horario</ion-title>
    <ion-buttons left>
      <button ion-button>
        <img width="35" height="35" src="assets/images/logo.png" />
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-card>
    <div class="myFicha">
      <p class="ficha">Paciente : {{ Ficha.PacienteNombre}} </p>
      <p class="ficha">Matrícula : {{ Ficha.PacienteMatricula }} </p>
      <p class="ficha">Hospital : {{ Ficha.FilialDescripcion }} </p>
      <p class="ficha">Especialidad : {{ Ficha.EspecialidadDescripcion }} </p>
      <p class="ficha">Médico : {{ Ficha.MedicoNombre }} </p>
    </div>
  </ion-card>
</ion-header>
<ion-content>
  <ion-list *ngIf="rlength > 0">
    <button ion-item *ngFor="let Hora of Horario" (click)="irResumen(Hora)">
     <ion-avatar item-left>
      <img src="assets/images/hor.png"/>
     </ion-avatar>
    <h3>{{ Hora.Descripcion }}</h3>
  </button>
  </ion-list>
  <div *ngIf="rlength == 0" class="contenedor" (click)="volver()">
    <div class="medio">
      <img class="img" width="65" height="65" src="assets/images/hor.png" />
      <h5>No hay Horarios disponibles para el móvil.</h5>
      <p>Toca la pantalla para volver atrás</p>
    </div>
  </div>
</ion-content>